* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "header"
    "contenido-1"
    "contenido-1"
    "contenido-2"
    "contenido-2"
    "footer";
    gap: 20px;
    background-image: url(/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100vh;
}

header{
    grid-area: header;
    background-color: rgb(235, 211, 132);
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    height: 100px;
}

.logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
    width: 150px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-family: 'Staatliches', cursive;
    background: linear-gradient(to bottom right, rgb(239, 193, 42), rgb(95, 196, 255));
    border: 1px solid black;
    color: black;
    padding: 3px;
}

.container{
    width: 70%;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(64, 64, 64, 0.465);
    border-radius: 10%;
}

.container h2{
    color: aliceblue;
    text-align: center;
}

.container p{
    color: aliceblue;
    padding: 0 0 10px 20px;
}

section img{
    width: 300px;
}

.nosotros{
    grid-area: contenido-1;
}

.ubi{
    grid-area: contenido-2;
}

footer{
    grid-area: footer;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 44, 106);
}

footer p{
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    color: aliceblue;
    padding: 0 20px 0 0;
}


