body{
    display: grid;
    grid-template-areas: 
    "header"
    "h1"
    "carousel"
    "contenido-1"
    "contenido-2"
    "contenido-3"
    "contenido-4"
    "footer";
    gap: 20px;
    background: linear-gradient(270deg, rgba(255,231,161,1) 0%, rgba(180,255,251,1) 100%);
}

.inicio{
    display: grid;
    grid-template-areas: 
    "header"
    "h1"
    "carousel"
    "contenido-1"
    "contenido-2"
    "contenido-3"
    "contenido-4"
    "footer";
    @media (min-width: 1024px){
            /* este grid area es para el index */
        .inicio{
            grid-template-areas: 
            "header header"
            "carousel carousel"
            "contenido-1 contenido-2"
            "contenido-3 contenido-4"
            "footer footer"
        }
    }
}

.grilla {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 1024px) {
        /* esto es para la seccion tienda y producciones */
        .grilla {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
    }
}

h1{
    grid-area: h1;
}

.carousel{
    grid-area: carousel;
}

.nosotros{
    grid-area: contenido-1;
}

.pagos{
    grid-area: contenido-2;
}

.horarios{
    grid-area: contenido-3;
}

.ubi{
    grid-area: contenido-4;
}

.historia{
    grid-area: contenido-1;
}

.historia2{
    grid-area: contenido-2;
}

@media (min-width: 768px){
    .nav-item{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        }
        .logo{
            width: 200px;
        }
        .nav-link{
            display: flex;
            flex-direction: column;
            padding: 7px;
            font-size: 20px;
            background: linear-gradient(to bottom right, rgb(239, 193, 42), rgb(95, 196, 255));
            border: 1px solid black;
            color: black;
        }
}

@media (min-width: 1024px){
    .nosotros, .pagos, .horarios, .ubi{
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .historia, .historia2{
        display: flex;
        flex-direction: row;
        min-height: 30vh;
        border-radius: 0;
    }
    /* acá usé grid para ordenar la sección "servicios". */
    .servicios-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .cortes{
        grid-column: 3 / 4;
        grid-row: 1;
    }
    .lavado{
        grid-column: 4 / 5;
        grid-row: 2;
    }
    .coloracion{
        grid-column: 3 / 4;
        grid-row: 3;
    }
    .serviciosContainer{
        width: 40vw;
        height: 400px;
        display: flex;
        flex-direction: row;
    }
    .serviciosContainer img{
        width: max-content;
        overflow: hidden;
    }

}