@import "generales";
@import "navbar";
@import "responsive";

body {
    background: linear-gradient(270deg, rgba(255, 231, 161, 1) 0%, rgba(180, 255, 251, 1) 100%);

    @media (min-width: 768px) {
        background: linear-gradient(90deg, rgba(255, 231, 161, 1) 0%, rgba(180, 255, 251, 1) 50%, rgba(255, 231, 161, 1) 100%);
    }

    @media (min-width: 1024px) {
        background: linear-gradient(135deg, rgba(180, 255, 251, 1) 0%, rgba(255, 231, 161, 1) 100%);
    }
}

.carousel {
    .carousel-inner {
        .item {
            img {
                margin: auto;
                width: 50%;
            }
        }
    }
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;

    @media (min-width: 1024px) {
        margin: 50px;
        font-size: 64px;
    }
}

.radius {
    border-radius: 15%;
}

.container {
    width: 70%;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(64, 64, 64, 0.476);
    border: 3px solid #000;

    h2 {
        color: aliceblue;
        text-align: center;
    }

    p {
        color: aliceblue;
        padding: 0 0 10px 20px;
    }

    @media (min-width: 1024px) {
        background-color: rgba(0, 0, 0, 0.324);
        border: 3px solid black;
    }
}

.tiendaContainer,
.serviciosContainer {
    min-width: 200px;
    max-width: 700px;
}

.tiendaContainer {
    margin-bottom: 15px;
}

.lavado,
.coloracion {
    margin: auto;
    margin-top: 20px;
}

section,
main,
.container {
    img {
        width: 80%;
        max-width: 400px;
        padding: 15px;
    }
}

.historia2 {
    margin-top: 27px;
    margin-bottom: 27px;
}

.pelo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cortes-img {
    margin: 10px;
    max-width: 300px;
    width: 30%;
    padding: 0;
    border: 4px solid black;
    box-shadow: 10px 10px 40px 0 #000;

    @media (min-width: 1024px) {
        transition: 1s all;
    }

    $:hover {
        transform: scale(1.2);
    }
}

.precioTienda {
    font-size: 24px;
    font-weight: 900;
    color: black;
    text-shadow: 2px 2px 2px white;
}

footer {
    grid-area: footer;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 44, 106);

    p {
        text-align: center;
        font-family: 'Staatliches', cursive;
        font-size: 20px;
        color: aliceblue;
        padding: 0 20px 0 0;
    }
}